<%- include('content/header') -%>
<div class="container dashboard flex space-between align-items">
    <h2 class="user-name">Imran Khan</h2>
    <div class="store-dashboard">
        <button>View Stores</button>
        <button>Add New Product</button>
    </div>
  </div>
<%- include('content/footer') -%>