<%- include('content/header') -%>
<div class="container center">
    <h1 class="heading">E-commerce</h1>
    <p class="sub-heading">Welcome to E-commerce</p>
    <a href="/store"><button class="btn-index">Go To Store</button></a>
  </div>
<%- include('content/footer') -%>