<%- include('content/header') -%>
<div class="container">
   <div class="form form-control">
       <h3 class="form-heading">Login</h3>
       <form action="">
            <input type="text" name="email" id="email" placeholder="Enter Email">
            <input type="password" name="password" id="password" placeholder="Enter Password">
            <div class="center">
            <input type="submit" value="Login">
        </div>
       </form>
   </div>
  </div>
<%- include('content/footer') -%>