<%- include('content/header') -%>
<div class="container">
   <div class="form form-control">
       <h3 class="form-heading">Register</h3>
       <form action="">
           <input type="text" name="name" id="name" placeholder="Enter Name">
            <input type="text" name="email" id="email" placeholder="Enter Email">
            <input type="password" name="password" id="password" placeholder="Enter Password">
            <div class="center">
            <input type="submit" value="Register">
        </div>
       </form>
   </div>
  </div>
<%- include('content/footer') -%>