<%- include('content/header') -%>
<div class="container store flex  align-items wrap">
    <div class="store-product">
        <h2 class="store-title">Iphone </h2>
        <p class="store-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa amet hic, minus provident sapiente dolore, sequi consectetur numquam impedit magni obcaecati vero dolores, delectus omnis error perspiciatis. Iure, facilis voluptatibus.</p>
        <div class="detail">
        <button class="btn-details">Details</button>
        <span class="total-like">Total likes:- 0</span>
    </div>
    </div>  
  </div>
<%- include('content/footer') -%>