<%- include('content/header') -%>
   <div class="container user-dashboard flex space-between align-items">
    <h2 class="user-name"><%= user.fullName %></h2>
    <div class="user-article">
    <a href="/articles"><span>View All Articles</span></a><a href="/articles/new"><span>Add New Article</span></a>
</div>
  </div>  
<%- include('content/footer') -%>