<%- include('content/header') -%>
   <div class="container center">
    <h1 class="index-header">BlogApp</h1>
    <a href="/articles"><button class="btn-index">Go To Articles Page</button></a>
  </div>
<%- include('content/footer') -%>