<%- include('content/header') -%>
    <div class="container padding center">
    <p class="subheading">Welcome to Podcast</p>
    <a href="/podcast"><button class="btn-index">Go To Podcast</button></a>
</div>
<%- include('content/footer') -%>